.App {
  text-align: center;
  display: grid;
  max-width: 1250px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
  "nav outlet sidebar";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


main {
  grid-area: outlet;
  padding: 10px;
}

section.sidebar {
  grid-area: sidebar;
  padding: 10px;
}

header {
  grid-area: nav;
  position: fixed;
}


.App-link {
  color: #61dafb;
}

body {
  display: flex;
  justify-content: center;

}

#root {
  max-width: 1600px;
}
