nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: unset;
}

nav li {
    display: flex;
    align-items: center;
}

nav span {
    padding-left: 16px;
}

nav {
    padding: 16px;
}